body{
margin:0;
font-family:Arial, sans-serif;
background:#0E1621;
color:white;
}

header{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg') center/cover;
}

h1{
font-size:60px;
margin:0;
letter-spacing:3px;
}

p{
color:#D6A545;
font-size:18px;
}

.btn{
padding:12px 20px;
background:#D6A545;
color:black;
border-radius:8px;
text-decoration:none;
font-weight:bold;
display:inline-block;
margin-top:20px;
}

section{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

h2{
color:#D6A545;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:#182433;
padding:20px;
border-radius:12px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

footer{
text-align:center;
padding:30px;
opacity:0.6;
}
